/*Сброс для однозначного применения собственных стилей,
для получения ожидаемого дизайна*/


select,input:hover{
    -moz-outline-color: black;
    outline-color: black;
}

select,input:focus{
    -moz-outline-color: black;
    outline-color: black;
}

select,input:on{
    -moz-outline-color: black;
    outline-color: black;
}