body{
    
/* background-color:grey;  */
}
input{
    
}

li{
    list-style-type: none;
}

li::before{
        content:"";
}

i{
    margin-left:2%;
}

a{
    text-decoration: none;
    
}

a{
    font-size:16px;
    color:rgb(0, 0, 0);
}
a:hover{
    color:grey;
}

form{
    background:linear-gradient(to top, #bababa, #eaeaea);
    width: 700px;
    margin:0 auto;
    border-radius: 15px;
    padding: 25px 0px;
}

h1{
    font-size:23px;
    font-family: Verdana, Geneva, Tahoma, sans-seri;
    color:black;
    text-align: center;
}

h3{
    font-size:18px;
    color:black;
    margin-left:1%;
}

.in-form{
    width: 80%;
    margin:0 auto;    
}

.mydata{
    display:block;
    margin:0 auto; 
 }

.mydata h3{
  text-align:center;
}

.graf-id {
    width: 270px;
    display: inline-block;
    vertical-align: top;
    margin-left: 0 auto;
}


.text-id{
    width: 270px;
    display: inline-block;
    vertical-align: top;
    margin-left: 0 auto; 
}

.text-id-one{
    margin-left: 15%;
}

.main-block{
    margin: 2% 0%;
}

.all-h3{
    display:inline-block;
    margin: 3% 1%;
}


span{
    font-size:18px;
    color:rgb(32, 32, 32);
}

    


img{
    display:block;
    margin: 5% auto;
}

.lang-label, .checkbox-label, .key-skills{
    margin-right: 1%;
}

.skills-list{
    margin-left: -20px;
}

.new-skill{
    margin: 3% 0%;
}

.skills-input, .skills-button{
    margin-left:2%;
}

.skills-button{
    border:2px;
    padding: 2px 10px;
    box-shadow: 3px 3px 0px 0px #333;
}

.skills-button:hover{
    opacity: 0.7;
}
/* .skills-button :focus{
    border-color: black;
} */

.input-pay{
    display:inline-block;
    margin-left:2%;
}

.checkbox-block{
    margin: 0 1%;
}

.table-style{
    margin: 5% auto;
}

.table-caption{
    text-align: left;
    color:black;
    font-size: 18px;
    margin-bottom: 2%;
}

table{
    border: 3px solid black;
    margin-left: 1%;
    border-radius: 5px;
}

td,th{
    padding: 10px;
}

tr:nth-child(odd){
    background-color: rgb(211, 211, 211);
    :hover:
}
tr:nth-child(even){
    background-color:rgb(235, 233, 233);
}
thead tr td{
    background-color:rgb(163, 163, 161);
}

tr:nth-child(even):hover{
    background-color:rgb(117, 61, 61);
} 

tr:nth-child(odd):hover{
    background-color:rgb(117, 61, 61);
} 


.skills-button:hover, select:hover, input[type]:hover{
    cursor: pointer; 
}