li{
    list-style-type: none;
    }
    li::before{
        content:"-- ";
    }
    
form{
    width: 700px;
    margin:0 auto;
}    

h1{
    font-size:23px;
    font-family: Verdana, Geneva, Tahoma, sans-seri;
    color:red;
    border: 3px dotted blue;
    text-align: center;
    /* box-sizing: border-box;  */
    /* width: 700px;  */
}

.in-form{
    width: 80%;
    margin:0 auto;    
}
.mydata{
   display:block;
   margin:0 auto; 
}
.mydata h3{
    text-align:center;  
  }

.graf-id {
    width: 270px;
    display: inline-block;
    vertical-align: top;
    margin-left: 0 auto;
    /* border: 1px solid black; */

}


.text-id{
    width: 270px;
    display: inline-block;
    vertical-align: top;
    margin-left: 0 auto; 
    /* border: 1px solid black; */
 
}
h3{
    font-size:18px;
    color:blue;
    margin-left:1%;
    /* margin: 0 1%; */
    
}
.mydata h3{
  text-align:center;  
}

.main-block{
    /* margin-top: 2%;
    margin-left: 1%; */
    margin: 2% 1%;
}

.all-h3{
    display:inline-block;
    margin: 3% 1%;
}

span{
    font-size:18px;
    color:rgb(0, 255, 34);
}
a{
    font-size:14px;
    color:rgb(255, 0, 179);
}


img{
    display:block;
    margin: 5% auto;
}



.text-id-one{
    
    margin: 5% 15%;
}

.lang-label{
    margin-right: 1%;
}

.new-skill{
    margin: 3% 0%;
}

.skills-input, .skills-button{
    margin-left:2%;
    
}
.input-pay{
    display:inline-block;
    margin-left:2%;
}
.rezult{
    /* margin: 1%; */
}
.checkbox-block{
    margin: 0 1%;
}
.table-style{
    margin-top: 2%;
    margin-left: 1%; 
    

}

.table-caption{
    text-align: left;
    color:blue;
    font-size: 18px;
}

table{
    border: 3px solid black;
    margin-left: 1%;
    /* border-collapse: collapse;
     */
     border-radius: 10px; 
}
td,th{
    border: 3px solid black;
    
}
table td{
    border-spacing: 0;
}
tr:nth-child(odd){
    background-color: aqua;
}
tr:nth-child(even){
    background-color:red;
}
thead tr td{
    background-color:rgb(213, 216, 51);
}